body{
  height:100%;
  width:100%;
  margin:0px;
  padding:0px;
}

div,p,ul,ol{
  padding:0px;
  margin:0px;
}

#app{
  height:100%;
  width:100%;
  overflow: hidden;
}

.frame_header{
  height:64px;
  line-height:64px;
  background-color:#684406;
  border-bottom:solid 1px transparent;
  padding:0px 20px;
}
.frame_header .logoArea{
  color:#fff;
  font-size:24px;
  width:150px;
  float:left;
}
.frame_header .menuArea{
  margin-left:150px;
}
.frame_header .menuArea .menuItem{
  display: inline-block;
  color:#fff;
  margin:0px 20px;

}

.frame_footer{
  height:64px;
  background-color:#2f684e;
  color:#fff;
}

.frame_content{

  width:100%;
  background-color:#fff;
}

.frame_content .frame_content_inner{
  width:100%;
  height:100%;
}

